/* Write your CSS here */

.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-family: Roboto;
  text-align: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.button {
  color: #dd1264;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 15px;
  height: 35px;
  cursor: pointer;
  border-radius: 10px;
  border: 0px;
}

.name-div-container {
  background-color: #fddddb;
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.first-and-last-name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
